.lists-filter {
  color: rgb(51, 7, 7);
  padding: 0 1rem;
}

.lists-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.lists-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.lists-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}
